@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  display:flex;
  justify-content: center;
}

nav.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  img {
    background-size: contain;
    height: 25px;
  }
}
.search-bar {
    width: 225px;
    height: 35px;
}

#second-nav {
  text-transform: uppercase;
  height: 70px;
  background: white;
  display: flex;
  justify-content: flex-start;
  a{
    float: left;
    margin-left: 25px;
    font-size: 13px;
    color: rgb(144,144,144);
  }
  a:hover {
    color: black;
  }
}

.stick {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid rgb(217, 217, 217);
}
.side-stick {
  background-color: white;
  position:fixed;
  width: 350px;
  top: 70px;
  z-index: 9999;
}
.button-group {
  width: 315px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-size: 14px;
    font-weight: lighter;
    color: rgb(144,144,144);
  }
  a:hover{
    color:black;
  }
  a#sign-in {
    color: rgb(0,171,132);
  }
  #sign-in:hover {
    color: rgb(0, 143, 108);
  }
  button.btn.btn-outline-success {
    color: rgb(0,171,132);
    font-size: 14px;
    font-weight: lighter;
  }
  button.btn.btn-outline-success:hover {
    color: rgb(0, 143, 108);
    background-color: transparent;
  }
}

a.navbar-brand {
  height: 20px;
    h1 {
      font-size: 30px;
    }
}

a {
  font-size: 30px;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}
a.name {
  font-size: 12px;
  display: block;
}
a.name:hover {
  text-decoration: underline; 
}

.hero-box {
  height: 400px;
  display: flex;
  flex-direction: row;
}

.card {
  border: none;
  margin-left: -30px;
  h1 {
    font-size: 23px;
  }
  p{
    font-size: 13px;
    color: rgb(117,117,117);
  }
}

.card-text {
  padding-left: 50px;
}

#diff-card {
  .card-body {
    padding-left: 0px;
  }
}

li.list-group-item {
  border: none;
}

.list-article {
  width: 100%;
  height: 100px;
  display: flex;
  .list-article-body {
    color: black;
    margin-left: 25px;
  }
  img {
    background-size: contain;
  }

  h1 {
    font-size: 16px;
  }
}

hr {
  background-color: rgb(217, 217, 217);
}

.row {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

#see-all {
  color: rgb(29, 185, 153);
  text-transform: uppercase;
  font-size: 14px;
  padding-right: 1rem;
}
#see-all:hover {
  color: rgb(0, 143, 108);
}

.center-image {
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(231, 243, 237);

  .center-text {
    width: 31rem;
    padding-left: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    height: 20rem;

    p {
      margin-bottom: 5rem;
    }

    .button-group {
      width: 230px;
      height: 38px;

      button.btn.btn-primary.btn-sm {
        height: 100%;
        width: 7rem;
        background-color: black;
        border: none;
        font-weight: lighter;
        font-size: 13px;
        color: rgb(248, 248, 248);
      }
      button.btn.btn-primary.btn-sm:hover {
        background-color: rgb(0, 153, 105);
      }
      button.btn.btn-outline {
        height: 100%;
      width: 7rem;
      border: 1px solid black;
      font-size: 13px;
      font-weight: lighter;
      }
      button.btn.btn-outline:hover {
        border-color: rgb(0, 153, 105);
      }
    }
  }

  img {
    background-size: contain;
  }
}

.column-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 0px;
}

.column-heading {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin: 15px;
  border-bottom: 1px solid rgb(217, 217, 217);
  h1 {
    margin: -1px;
    font-size: 20px;
    border-bottom: 1px solid black;
  }
  a {
    color: rgb(117, 117, 117);
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 14px;
  }
}

#articles {
  display: flex;
  justify-content: space-between;
}

.large-article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px;

  a {
    font-size: 13px;
    color: rgb(117,117,117);
    h1 {
      font-size: 20px;
      font-weight: bold;
      color: black;
    }
  }
  a.caption {
    margin-top: 0px;
  }
  a.name {
    color: black;
    margin-bottom: 0px;
  }

  a.date {
    margin-bottom: 0px;
  }

  img {
    background-size: contain;
    margin-right: 30px;
  }

  .large-article-body {
    width: 500px;
  }
}

.featured-collections {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  a {
    font-size: 13px;
    color: rgb(29, 185, 153);
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a:hover {
    color: rgb(0, 176, 139);
  }
  .collections{
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: space-between;
    .collection {
      display: flex;
      flex-direction: column;
      width: 220px;
      margin-top: 20px;
      h1 {
        font-weight: bold;
        color: black;
        letter-spacing: 0.5px; 
      }
      a {
        font-size: 12px;
        text-transform: none;
        color: rgb(117, 117, 117);
        margin-top: 5px;
      }
      img {
        background-size: contain;
      }
    }
  }
  h1 {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: lighter;
    text-transform: uppercase;
    color: rgb(117, 117, 117);
  }
}

.side-bar-container {
  padding: 15px;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.side-bar {
  border-bottom: 1px solid rgb(217, 217, 217);
  margin-bottom: 30px;
  h1 {
    font-size: 22px;
    margin: 20px auto;
  }
}
.side-bar-box {
  margin: 10px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.side-bar-box-num {
  color: rgb(217, 217, 217);
  h1 {
    margin-top: -3px;
    font-size: 30px;
    font-weight: lighter; 
  }
}
.side-bar-box-body {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
  a {
    font-size: 12px;
  }
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  a {
    font-size: 14px; 
    color: rgb(117, 117, 117);
  }
  a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .side-box {
    display: none;
  }
  
}