<!DOCTYPE html>
html(lang="en")
  head
    link(rel="stylesheet", href="../sass/main.scss")
    script(src="../js/main.js")
  body
    .container
      .row
        .col-lg-12.mx-auto
          nav.navbar#first-nav
            a(href='#') Medium
            .button-group
              a(href="#")
                img(src='https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png')
              a(href='#') Become a member 
              a#sign-in(href='#') Sign in
              button.btn.btn-outline-success(href='#') Get started
          nav.navbar#second-nav
            a(href='#', style='margin-left: 0px') Home
            a(href='#') Love/Hate
            a(href='#') Culture
            a(href='#') Tech
            a(href='#') Startups
            a(href='#') Self
            a(href='#') Politics
            a(href='#') Design
            a(href='#') Health
            a(href='#') Popular
            a(href='#') Collections
            a(href='#') More
        .hero-box
          .card(style='width: 28rem')
            a(href='#')
              img.card-img-top(src='https://i.gyazo.com/2882039f66420894a97e62ecc7f7dbee.png')
            .card-body
              h1.card-text Is It Bad to Sleep Near Your Smartphone?
              p.card-text Experts disagree over just how worried you should be about smartphone health risks.
              a.name.card-text(href='#', style='color: black; margin-bottom: 0px') Markham Heid in The Nuance
              p.card-text(style='margin-top: 0px') a few hours ago
          .card(style='width: 25rem')
            ul.list-group.list-group-flush
              li.list-group-item(style='padding-top: 0px')
                .list-article
                  a(href='#')
                    img(src='https://i.gyazo.com/7e8782cee9452ca6b4a5bfa28c298f77.png')
                  .list-article-body
                    a(href='#')
                      h1 The Government Has an Instagram Problem
                    a.name(href='#') Alex Howard
                    p Dec 21, 2018
              li.list-group-item
                .list-article
                  a(href='#')
                    img(src='https://i.gyazo.com/94d23ea746b1f7f3fb41117e2f277b21.png')
                  .list-article-body
                    a(href='#')
                      h1 The Good Guy: A Story from the Author of 'Cat Person'
                    a.name(href='#') Kristen Roupenian
                    p a few hours ago
              li.list-group-item
                .list-article 
                  a(href='#')
                    img(src="https://i.gyazo.com/49dd0979962e39f45e0bbdfdecc241ad.png")
                  .list-article-body
                    a(href='#')
                      h1 Why Physicians Are More Burned Out Than Ever
                    a.name(href='#') Elizabeth Metraux
                    p Dec 7, 2018
          .card#diff-card(style='width: 21rem; margin-left: 30px')
            a(href='#')
              img.card-img-top(src='https://i.gyazo.com/a4654e89c180d8250cfc19a5bbf90216.png')
            .card-body
              a(href='#')
                h1 In Defense of Obsessively Browing Apartment...
              p Why I can't stop looking at apartments I...
              a.name(href='#', style='color: black; margin-bottom: 0px') Brandy Jensen
              p(style='color: black; margin-top: 0px') Dec 20,2018
        a#see-all(href='#') See all featured
      hr
      .center-image
        .center-text
          h1 Welcome to Medium, where words matter
          p We'll deliver the best stories and ideas on the topics you care about most straight to your homepage, app, or inbox.
          .button-group
            button.btn.btn-primary.btn-sm Get started
            button.btn.btn-outline Learn more
        img(src='https://i.gyazo.com/b4d6805f5bf4aef2a0f3a3aa2c38acb0.png')
      .row#articles
        .col-lg-8.column-header.mx-auto
          .column-heading
            h1 Featured for members
            a(href='#') More
          .large-article
            .large-article-body
              a(href='#')
                h1 Emulation Is Not a Product Strategy
              a.caption(href='#') Just because something worked for one company, doesn't mean it will work for yours
              a.name(href='#') Jesse Weaver in The Startup
              a.date Dec 14, 2018
            a(href="#")
              img(src='https://i.gyazo.com/6b1e1e611a07e579aa8d0c37978a13cb.png')
          .large-article
            .large-article-body
              a(href='#')
                h1 Emulation Is Not a Product Strategy
              a.caption(href='#') Just because something worked for one company, doesn't mean it will work for yours
              a.name(href='#') Jesse Weaver in The Startup
              a.date Dec 14, 2018
            a(href="#")
              img(src='https://i.gyazo.com/6b1e1e611a07e579aa8d0c37978a13cb.png')
          .large-article
            .large-article-body
              a(href='#')
                h1 Emulation Is Not a Product Strategy
              a(href='#').caption Just because something worked for one company, doesn't mean it will work for yours
              a(href='#').name Jesse Weaver in The Startup
              a.date Dec 14, 2018
            a(href="#")
              img(src='https://i.gyazo.com/6b1e1e611a07e579aa8d0c37978a13cb.png')
          .large-article
            .large-article-body
              a(href='#')
                h1 Emulation Is Not a Product Strategy
              a(href='#').caption Just because something worked for one company, doesn't mean it will work for yours
              a(href="#").name Jesse Weaver in The Startup
              a.date Dec 14, 2018
            a(href="#")
              img(src='https://i.gyazo.com/6b1e1e611a07e579aa8d0c37978a13cb.png')
          .column-heading
            h1 Featured for members
            a(href='#') More
          .large-article
            .large-article-body
              a(href='#')
                h1 Emulation Is Not a Product Strategy
              a.caption(href='#') Just because something worked for one company, doesn't mean it will work for yours
              a.name(href='#') Jesse Weaver in The Startup
              a.date Dec 14, 2018
            a(href="#")
              img(src='https://i.gyazo.com/6b1e1e611a07e579aa8d0c37978a13cb.png')
          .large-article
            .large-article-body
              a(href='#')
                h1 Emulation Is Not a Product Strategy
              a.caption(href='#') Just because something worked for one company, doesn't mean it will work for yours
              a.name(href='#') Jesse Weaver in The Startup
              a.date Dec 14, 2018
            a(href="#")
              img(src='https://i.gyazo.com/6b1e1e611a07e579aa8d0c37978a13cb.png')
          .large-article
            .large-article-body
              a(href='#')
                h1 Emulation Is Not a Product Strategy
              a(href='#').caption Just because something worked for one company, doesn't mean it will work for yours
              a(href='#').name Jesse Weaver in The Startup
              a.date Dec 14, 2018
            a(href="#")
              img(src='https://i.gyazo.com/6b1e1e611a07e579aa8d0c37978a13cb.png')
          .large-article
            .large-article-body
              a(href='#')
                h1 Emulation Is Not a Product Strategy
              a(href='#').caption Just because something worked for one company, doesn't mean it will work for yours
              a(href="#").name Jesse Weaver in The Startup
              a.date Dec 14, 2018
            a(href="#")
              img(src='https://i.gyazo.com/6b1e1e611a07e579aa8d0c37978a13cb.png')
          .featured-collections
            h1 Featured Collections
            .collections
              .collection
                h1 Restaurants
                a(href="#")
                  img(src='https://lorempixel.com/220/280/food')
                span
                  a(href="#") 47 near you
              .collection
                h1 Food
                a(href="#")
                  img(src='https://lorempixel.com/220/280/food')
                span
                  a(href="#") 108 snacks
              .collection
                h1 Delectables
                a(href="#")
                  img(src='https://lorempixel.com/220/280/food')
                span
                  a(href="#") 21 treats
            span
              a(href="#", style='float: right') See all connections

        .col-lg-4
          .side-box#side-bar
            .side-bar-container
              .side-bar
                a(href="#")
                  h1 Popular on Medium
              .side-bar-box
                .side-bar-box-num
                  h1 01
                .side-bar-box-body
                  a(href='#')
                    h1 The Fan Who Sued Taylor Swift
                  a.name(href='#') Zachary Snowdon Smith
                  p Oct 22, 2018
              .side-bar-box
                .side-bar-box-num
                  h1 02
                .side-bar-box-body
                  a(href="#")
                    h1 Monorepos: Please don't!
                  a.name(href='#') Matt Klein
                  p Jan 2
              .side-bar-box
                .side-bar-box-num
                  h1 03
                .side-bar-box-body
                  a(href="#")
                    h1 How to Eat According to Your Carb Tolerance
                  a.name(href='#') John Fawkes in Better Humans
                  p Dec 28, 2018
              .side-bar-box
                .side-bar-box-num
                  h1 04
                .side-bar-box-body
                  a(href="#")
                    h1 The Biggest Technology Failures of 2018
                  a.name(href='#') MIT Technology Review
                  p Dec 28, 2018
            .footer
              a(href='#') Help
              a(href='#') Status
              a(href='#') Writers
              a(href='#') Blog 
              a(href='#') Careers
              a(href='#') Privacy
              a(href='#') Terms
              a(href='#') About

            